@charset 'UTF-8';
.clearfix:after{
	content: "";
	display: block;
	clear: both;
	}
body,ul,h1,h3,p{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: #000;
}
h1,h3,p,a{
	font-size: 14px;
	font-family: '微软雅黑';
	font-weight: normal;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
#header{
	width: 100%;
	height: 530px;
	background: url('../images/feater.gif') repeat-x;
}
#dh{
	width: 1124px;
	height: 100px;
	margin: 0 auto;
}
#dh .logo{
	width: 290px;
	height: 100px;
	background: url('../images/feater-logo.gif');
}
#dh h1{
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}
#dh .go{
	/* width: 834px; */
	height: 50px;
	line-height: 50px;
}
#dh .dh{
	/* width: 834px; */
	height: 50px;
}
#dh li{
	float: left;
}
#dh .dh a{
	display: inline-block;
	width: 88px;
	height: 50px;
	line-height: 50px;
	margin-left: 27px;
	color: #fff;
	text-align: center;
}
#dh .dh .dh-01{
	width: 65px;
}
#dh .dh a:hover{
	background: url('../images/feater-02.gif')no-repeat bottom;
	color: #0B8B8E;
}
#dh .dh .dh-01:hover{
	background-position: left bottom;
}
#lb{
	width: 100%;
	height: 430px;
	background: url('../images/feater-01.gif') no-repeat center;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}
#naw,#main{
	width: 1124px;
	margin: 0 auto;
}
#naw{
	margin-top: 14px;
	border-bottom: 1px solid #bbb;
}
#naw p{
	line-height: 36px;
	color: #666;
	font-size: 12px;
}
#naw span{
	font-size: 14px;
	font-weight: bold;
	color: #333;
}
#naw a{
	color: #666;
	font-size: 12px;
}
#main{
	height: 860px;
	background: url('../images/content-03.gif') no-repeat right bottom;
}
#side{
	width: 222px;
	margin-right: 40px;
}
#side .le1,#side .le2{
	width: 202px;
	margin: 0 auto;
	border: 1px solid #eee;
}
#side h3{
	width: 202px;
	height: 40px;
	background: #0D9590;
	color: #fff;
	text-indent: 15px;
	line-height: 40px;
	margin: 10px 10px 0 10px;
}
#side ul{
	width: 190px;
	margin: 0 auto;
	margin-top: 10px;
}
#side li{
	border-bottom: 1px dotted #999;
}
#side .li2{
	border-bottom: none;
}
#side a{
	display: inline-block;
	text-indent: 11px;
	height: 30px;
	line-height: 30px;
}
#side p{
	padding: 15px 0 2px 7px;
	margin-bottom: 11px;
	line-height: 22px;
	font-size: 12px;
}
#side span{
	font-weight: bold;
}
#side img{
	margin: 0 2px 0 3px;
}
#content{
	width: 862px;
}
#content .con0,#content .con1{
	margin: 10px 0 0;
}
#content .con1{
	width: 821px;
	margin-top: 3px;
	border-bottom: 1px solid #BBB;
	padding-bottom: 2px;
}
#content h3{
	font-size: 12px;
	color: #666;
	font-weight: normal;
}
#content h3 span{
	font-size: 16px;
	font-weight: bold;
}
#content .con1 p,#content .con1 a{
	font-size: 12px;
	color: #666;
	line-height: 40px;
}
#content .con2-1{
	width: 391px;
	height: 291px;
	padding: 4px;
	border: 1px solid #0D9590;
	margin: 0 auto;
	margin-top: 64px;
	margin-bottom: 25px;
}
#content .con2 p,#content .con2-3{
	font-size: 12px;
	line-height: 30px;
	text-indent: 2em;
	color: #666;
}
#content .con2-2{
	margin-bottom: 70px;
}
#footer{
	width: 100%;
	height: 71px;
	background: #353535;
	padding-top: 19px;
}
#footer p{
	font-size: 12px;
	line-height: 34px;
	text-align: center;
	color: #999;
}